{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="center">
      <img class="round" src="{% static "gimli2.jpg" %}" />
    </div>
    <p>Hi, I'm Lucas Deschamps, software engineer from France.</p>
    <p>I love all branches of mathematics and informatics. I recently got into data science, check out my projects <a href="https://gitlab.com/lucasdchamps">here</a></p>
    <p>I practice a lot of sports when I'm not coding: rock climbing and triathlon!</p>
    <p>Contact me at lucasdchamps@gmail.com</p>
    <p>Let's go climb outside or race together :3</p>
{% endblock %}
