{% extends 'base.html' %}

{% block content %}
    <!-- <h2>Categories</h2>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %} -->

    {% if posts %}
        {% for post in posts %}
            <div class="post-preview">
                <a href="{{ post.get_absolute_url }}">
                    <h2 class="post-title"> {{ post.title }} </h2>
                </a>
                <p class="post-meta">Posted on {{ post.posted }}</p>
            </div>
            <!-- <hr> -->
        {% endfor %}
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

{% endblock %}
